@keyframes beat {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes beatFade {
  0% {
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.2rem);
    -webkit-transform: translateY(-0.2rem);
    -moz-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    -o-transform: translateY(-0.2rem);
  }
  60% {
    transform: translateY(-0.2rem);
    -webkit-transform: translateY(-0.2rem);
    -moz-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    -o-transform: translateY(-0.2rem);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
  }
  50% {
    transform: perspective(400px) rotateY(180deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.1rem);
    -webkit-transform: translateX(-0.1rem);
    -moz-transform: translateX(-0.1rem);
    -ms-transform: translateX(-0.1rem);
    -o-transform: translateX(-0.1rem);
  }
  50% {
    transform: translateX(0.1rem);
    -webkit-transform: translateX(0.1rem);
    -moz-transform: translateX(0.1rem);
    -ms-transform: translateX(0.1rem);
    -o-transform: translateX(0.1rem);
  }
  75% {
    transform: translateX(-0.1rem);
    -webkit-transform: translateX(-0.1rem);
    -moz-transform: translateX(-0.1rem);
    -ms-transform: translateX(-0.1rem);
    -o-transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spinPulse {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg) scale(0.9);
    opacity: 0.5;
  }
  100% {
    transform: rotate(720deg) scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.22);
    -webkit-transform: scale(1.22);
    -moz-transform: scale(1.22);
    -ms-transform: scale(1.22);
    -o-transform: scale(1.22);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
