@use './functions' as fn;

:root {
  //settings
  --backgroundSettings: rgba(255, 255, 255, 0.9);

  --primary-color: #101828;
  --background-color: rgb(249, 250, 251, 0.1);

  /**butt*/
  --activeBackgroundButton: #ffffff;
  --activeBoxShadowButton: rgba(145, 158, 171, 0.08) -24px 8px 24px -4px;
  --AddHoverButton: #026aa2;
  --AddButtonNormal: #4e6977;
  //icons
  --hoverBackgroundIcon: rgba(99, 115, 129, 0.08);
  --primaryColorIcon: #919eab;
  --iconPrimary: #637381;
  --iconSecondary: #4b4d4f;
  --iconPlus: #4b4d4f;

  //navbar
  --navbarBackground: #a6f4c5;

  //footer
  --footerBackground: #a6f4c5;

  //col
  --coolBackground: #f6f8fc;
  --coolBackgroundOnprogress: #99f6e0;
  --coolBackgroundPending: #a5f0fc;
  --coolBackgroundComplete: #a6f4c5;

  //todo
  --todoBackground: #ffffff;
  --todoLetters: #5b5b73;
}

html.dark {
  //settings
  --backgroundSettings: rgba(22, 28, 36, 0.9);

  --primary-color: #fff;
  --background-color: rgba(22, 28, 36, 1);

  /**butt*/
  --activeBackgroundButton: rgb(33, 43, 54);
  --activeBoxShadowButton: rgba(0, 0, 0, 0.08) -24px 8px 24px -4px;

  //icons
  --hoverBackgroundIcon: rgba(145, 158, 171, 0.08);
  --iconPrimary: #919eab;
  --iconSecondary: #a4afbc;
  --iconPlus: #fff;

  //col
  --coolBackground: rgb(33, 43, 54);
  --coolBackgroundOnprogress: #99f6e0;
  --coolBackgroundPending: #a5f0fc;
  --coolBackgroundComplete: #a6f4c5;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-style: normal;
    color: var(--primary-color);
  }

  p {
    color: fn.theme('gray400');
  }
}
