$theme: (
  gray25: #fcfcfd,
  gray50: #f9fafb,
  gray100: #f2f4f7,
  gray200: #eaecf0,
  gray300: #d0d5dd,
  gray400: #98a2b3,
  gray500: #667085,
  gray600: #475467,
  gray700: #344054,
  gray800: #1d2939,
  gray900: #101828,

  error25: #fffbfa,
  error50: #fef3f2,
  error100: #fee4e2,
  error200: #fecdca,
  error300: #fda29b,
  error400: #f97066,
  error500: #f04438,
  error600: #d92d20,
  error700: #b42318,
  error800: #912018,
  error900: #7a271a,

  warnig25: #fffcf5,
  warnig50: #fffaeb,
  warnig100: #fef0c7,
  warnig200: #fedf89,
  warnig300: #fec84b,
  warnig400: #fdb022,
  warnig500: #f79009,
  warnig600: #dc6803,
  warnig700: #b54708,
  warnig800: #93370d,
  warnig900: #7a2e0e,

  success25: #f6fef9,
  success50: #ecfdf3,
  success100: #d1fadf,
  success200: #a6f4c5,
  success300: #6ce9a6,
  success400: #32d583,
  success500: #12b76a,
  success600: #039855,
  success700: #027a48,
  success800: #05603a,
  success900: #054f31,

  teal25: #f6fefc,
  teal50: #f0fdf9,
  teal100: #ccfbef,
  teal200: #99f6e0,
  teal300: #5fe9d0,
  teal400: #2ed3b7,
  teal500: #15b79e,
  teal600: #0e9384,
  teal700: #107569,
  teal800: #125d56,
  teal900: #134e48,

  cyan25: #f5feff,
  cyan50: #ecfdff,
  cyan100: #cff9fe,
  cyan200: #a5f0fc,
  cyan300: #67e3f9,
  cyan400: #22ccee,
  cyan500: #06aed4,
  cyan600: #088ab2,
  cyan700: #0e7090,
  cyan800: #155b75,
  cyan900: #164c63,

  blueLight25: #f5fbff,
  blueLight50: #f0f9ff,
  blueLight100: #e0f2fe,
  blueLight200: #b9e6fe,
  blueLight300: #7cd4fd,
  blueLight400: #36bffa,
  blueLight500: #0ba5ec,
  blueLight600: #0086c9,
  blueLight700: #026aa2,
  blueLight800: #065986,
  blueLight900: #0b4a6f,

  blueDark25: #f5f8ff,
  blueDark50: #eff4ff,
  blueDark100: #d1e0ff,
  blueDark200: #b2ccff,
  blueDark300: #84adff,
  blueDark400: #528bff,
  blueDark500: #2970ff,
  blueDark600: #155eef,
  blueDark700: #004eeb,
  blueDark800: #0040c1,
  blueDark900: #00359e,
);
