@use '../../../global/mixins' as m;
@use '../../../global/functions' as fn;
@import '../../../global/baseTheme';

.formTodo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__container {
    display: flex;
    position: relative;
    padding: 2rem 0;
    width: 100%;
    gap: 1rem;
    &--select {
      flex-direction: column;
    }
  }

  &__select,
  &__input {
    font-family: 'Inter-Regular';
    border-radius: 8px;
    border: 1px solid fn.theme('gray300');
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    justify-content: center;
    padding: 1rem 7rem 1rem 1rem;
    height: 3rem;
    align-items: center;
    width: 100%;
    transition: fn.transition('secondary');
    color: fn.theme('gray800');
    &:focus,
    &:active {
      border: 1px solid fn.theme('blueLight800');
      box-shadow: -3px 0px 9px 8px rgba(6, 89, 134, 0.05);
    }
  }

  &__select {
    height: 5rem;
    appearance: none;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 3rem;
    right: 1.8rem;
    transition: 0.5s;
    &--select {
      top: 3.2rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    &--open {
      transform: rotate(180deg);
    }
    &--close {
      transform: rotate(0deg);
    }
  }

  &__messageError {
    margin: 0;
    color: fn.theme('error500');
    opacity: 0;
    transition: fn.transition('primary');
    &--active {
      opacity: 1;
    }
  }
}
