@use '../../../global/mixins' as m;
@use '../../../global/functions' as fn;
@import '../../../global/baseTheme';

.modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: all 0.5s;
  //   overflow: hidden;
  //   overflow-y: hidden;
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__children {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 1rem;
    background: var(--coolBackground);
    height: auto;
    width: 80vw;
    @include m.mediaQueries(fn.breakpoint('tablet')) {
      width: 80rem;
    }
  }

  &__containerElement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__icon {
    transition: fn.transition('primary');
    width: 2rem;
    height: 2rem;
    align-self: flex-end;

    &--add,
    &--x {
      transition: fn.transition('primary');
      width: 2.5rem;
      height: 2.5rem;
      align-self: flex-end;
      transform: rotate(45deg);
      &:hover {
        cursor: pointer;
      }
    }

    &--add {
      transform: unset;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.08);
    }
    &--edit {
      color: #026aa2;
      width: 2.5rem;
      height: 2.5rem;
    }

    &--delete {
      color: #f04438;
    }
  }
}
