@use '../../../global/mixins' as m;
@use '../../../global/functions' as fn;
@import '../../../global/baseTheme';

.todoSection {
  display: flex;
  flex-direction: column;
  grid-gap: 4rem;
  padding: 0rem 2rem 8rem 2rem;
  overflow: hidden;

  @include m.mediaQueries(fn.breakpoint('tablet')) {
    padding: 0rem 5rem 8rem 5rem;
    flex-direction: row;
  }

  &__col {
    display: flex;
    flex-direction: column;
    background: var(--coolBackground);
    width: 100%;
    min-height: 30rem;
    padding: 2.4rem 1.2rem;
    border-radius: 0.8rem;
    box-shadow: 0 8px 16px rgba(#101010, 0.1);
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
  }

  &__title {
    margin: 0;
    font-weight: 600;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30rem;
  }

  &__containerTodo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1.6rem;
    height: 100%;
    border-radius: 0.8rem;
  }

  &__todo {
    font-size: 1.8rem;
    background: var(--todoBackground);
    border-radius: 0.4rem;
    padding: 2.6rem 2rem;
    cursor: pointer;
    color: var(--todoLetters);
  }
}
